h1 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 40px;
  color: #333;
}

a {
  color: #298FCA;
  font-size: 16px;
}

label {
  font-size: 22px;
  font-family: sans-serif;
  color: #4d4d4d;
  font-weight: lighter;
  line-height: 1.6;
}

h3 {
  font-weight: lighter;
}

a:hover {
  cursor: pointer;
  color: #4d4d4d;
}

span {
  color: hsl(0,0%,60%);
  font-weight: 300;
}

#signInEmail, #signUpEmail, #password {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 92.7%;
  margin-top: 5px;
  border-radius: 4px;
  cursor: text;
  color: #4d4d4d;
  background-color: #EEEFF1;
  border: 0.8px solid #DFE0E2;
  padding-bottom: 15.5px;
  padding-top: 15.5px;
  padding: 15.5px;
  font-size: 20px; 
}

img {
  float: left;
}

::placeholder {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: lighter;
}

.signInBtn, .createAccountBtn {
  width: 100%;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  box-shadow: none;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.signInBtn, .createAccountBtn {
  color: white;
  background: #61BD4F;
  border: none;
}

button:disabled {
  color: hsl(0,0%,55%);
  background-color: #E2E4E6;
  font-size: 16px;
  cursor: not-allowed;
}

.googleSignInBtn, .googleSignUpBtn {
  width: 100%;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  box-shadow: none;
}

.googleSignInBtn {
  color: #4d4d4d;
  font-size: 15px;
}

.googleSignUpBtn {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  border: none;
}

.googleSignIn, .googleSignUp {
  margin-top: 16px;
}

.form-container, .signUpForm-container {
  margin: 0 auto;
  width: 450px;
}

.create-account, .signIn-account {
  margin-top: -23px;
}

.password {
  margin-top: 19px;
}

.signIn, .createAccount {
  margin-top: 20px;
}

.container, .signUpcontainer {
  margin-top: 90px;
}